In [1]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

# Change False to True for each block of code to see what it does

# Accessing elements and slicing
if True:
    print (life_expectancy[0])
    print (gdp[3:6])
    
# Looping
if True:
    for country_life_expectancy in life_expectancy:
        print ('Examining life expectancy {}'.format(country_life_expectancy))
        
# Pandas functions
if True:
    print (life_expectancy.mean())
    print (life_expectancy.std())
    print (gdp.max())
    print (gdp.sum())

# Vectorized operations and index arrays
if True:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print (a + b)
    print (a * 2)
    print (a >= 3)
    print (a[a >= 3])
   

def variable_correlation(variable1, variable2):
    both_above=(variable1>variable1.mean())&(variable2>variable2.mean())
    both_below=(variable1<variable1.mean())&(variable2<variable2.mean())
    is_same_direction=both_above|both_below
    
    num_same_direction = is_same_direction.sum()       # Replace this with your code
    num_different_direction = len(variable1)-num_same_direction   # Replace this with your code
    
    return (num_same_direction, num_different_direction)

variable_correlation(life_expectancy, gdp)

74.7
3      562.987685
4    13495.127466
5     9388.688523
dtype: float64
Examining life expectancy 74.7
Examining life expectancy 75.0
Examining life expectancy 83.4
Examining life expectancy 57.6
Examining life expectancy 74.6
Examining life expectancy 75.4
Examining life expectancy 72.3
Examining life expectancy 81.5
Examining life expectancy 80.2
Examining life expectancy 70.3
Examining life expectancy 72.1
Examining life expectancy 76.4
Examining life expectancy 68.1
Examining life expectancy 75.2
Examining life expectancy 69.8
Examining life expectancy 79.4
Examining life expectancy 70.8
Examining life expectancy 62.7
Examining life expectancy 67.3
Examining life expectancy 70.6
72.86999999999999
6.213999474869968
27036.48733192
182957.59832967006
0    2
1    4
2    4
3    6
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool
2    3
3    4
dtype: int64

(17, 3)

In [3]:
ans=pd.Series(gdp_values,index=countries)
max_index=ans.argmax()
max_value=ans.loc[max_index]
print(max_index)
print(max_value)

Austria
27036.48733192

C:\Users\Muskan Mangla\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.

In [5]:
import pandas as pd

# Change False to True for each block of code to see what it does

# Addition when indexes are the same
if  True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print (s1 + s2)

# Indexes have same elements in a different order
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print (s1 + s2)

# Indexes overlap, but do not have exactly the same elements
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print (s1 + s2)

# Indexes do not overlap
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print (s1 + s2)

a    11
b    22
c    33
d    44
dtype: int64
a    31
b    12
c    43
d    24
dtype: int64
a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [8]:
s1=pd.Series([1,2,3,4],index=['a','b','c','d'])
s2=pd.Series([3,4,5,6],index=['c','d','e','f'])
print((s1+s2).dropna())
print(s1.add(s2,fill_value=0))

c    6.0
d    8.0
dtype: float64
a    1.0
b    2.0
c    6.0
d    8.0
e    5.0
f    6.0
dtype: float64

In [10]:
import pandas as pd

# Change False to True to see what the following block of code does

# Example pandas apply() usage (although this could have been done
# without apply() using vectorized operations)
if True:
    s = pd.Series([1, 2, 3, 4, 5])
    def add_one(x):
        return (x + 1)
    print (s.apply(add_one))

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(names):
    token=names.split(' ')
    names=token[1]+" "+token[0]
    return names
print(names.apply(reverse_names))

0    2
1    3
2    4
3    5
4    6
dtype: int64
0             Agassi Andre
1              Bonds Barry
2     Columbus Christopher
3             Defoe Daniel
4           Estevez Emilio
5          Flintstone Fred
6              Garbo Greta
7          Humbert Humbert
8               Ilych Ivan
9              Joyce James
10         Knightley Keira
11               Lane Lois
12              Myers Mike
13              Nolte Nick
14           Osbourne Ozzy
15           Picasso Pablo
16       Quirrell Quirinus
17             Ray Rachael
18          Sarandon Susan
19             Turner Tina
20           Urbina Ugueth
21            Vaughn Vince
22          Wilson Woodrow
23             Yamada Yoji
24         Zidane Zinedine
dtype: object